@page "/sorairo"

<PageTitle>SorairoColors | N-SCF</PageTitle>

<h1>SorairoColors</h1>

<p role="status">現在のカウント数: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount"> + </button>
<button class="btn btn-primary" @onclick="DecrementCount"> - </button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}
